@charset "utf-8";
body {
	background-image: url(fundo.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar-default {
    background-color: #B203B7;
    border-color: #B203B7;
}
.navbar-default .navbar-brand {
    color: #F8F8F8;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color:#FB8DFF;
}

.navbar-default .navbar-nav > li > a {
    color: #F8F8F8;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:#FB8DFF;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #F8F8F8;
    background-color: #FB8DFF;
}

.jumbotron .h1, .jumbotron h1 {
    color: #FB8DFF;	
    BACKGROUND-COLOR: #CE00D4;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    /* color: inherit; */
    BACKGROUND-COLOR: #FB8DFF;

}
